langchain
huggingface_hub
langchain_community
langchain_huggingface
openai==1.56.2
langchainhub
langgraph
langchain-pinecone
pinecone-notebooks
docx2txt
python-docx
tiktoken
langchain-openai
atlassian-python-api
tavily-python
python-dotenv
langchain_aws
ipython
langchain-core
streamlit
fastapi
uvicorn
pydantic