name: Publish

on:
  push:
    tags:
      - '*'

env:
  POETRY_VERSION: 2.0.1


jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/agentic-radar
    permissions:
      contents: write
      id-token: write
    name: Publish
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install poetry
        run: curl -sSL https://install.python-poetry.org | python3 - --version $POETRY_VERSION

      - name: Install dependencies
        run: poetry install

      #- name: Run checks
        #run: pre-commit run --all-files
        #
      - name: Build
        run: poetry build

      - name: Publish pypi
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Release github
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**


